### 1. Write a Python program to print the following string in a specific format.
Sample String : "Twinkle, twinkle, little star, How I wonder what you are! Up above the world so high, Like a diamond in the sky. Twinkle, twinkle, little star, How I wonder what you are" Output :

Twinkle, twinkle, little star,<br>
&nbsp;&nbsp;How I wonder what you are!<br>
&ensp;&ensp;Up above the world so high,	
&ensp;&ensp;Like a diamond in the sky.<br>
Twinkle, twinkle, little star,<br>
&nbsp;&nbsp;How I wonder what you are

In [1]:
print(
'Twinkle, twinkle, little star,\n\t\
How I wonder what you are!\n\t\t\
Up above the world so high,\n\t\t\
Like a diamond in the sky.\n\
Twinkle, twinkle, little star,\n\t\
How I wonder what you are')

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are

### 2. Write a Python program to get the Python version you are using.

In [2]:
import sys
sys.version

#Note : 'sys' module provides access to some variables used or maintained by the interpreter 
#and to functions that interact strongly with the interpreter.

'3.9.7 (default, Sep 16 2021, 16:59:28) [MSC v.1916 64 bit (AMD64)]'

### 3. Write a Python program to display the current date and time.
Sample Output :<br>
Current date and time : <br>
2014-07-05 14:34:14<br>

In [3]:
from datetime import datetime as dt
from time import time
print("Date and time : ",dt.now())
print("year : " ,dt.now().year)
print("Month : " ,dt.now().month)
print("Day : ",dt.now().day)

Date and time :  2022-02-06 01:06:46.075595
year :  2022
Month :  2
Day :  6

### 4. Write a Python program which accepts the radius of a circle from the user and compute the area.

In [4]:
radius = float(input("Enter radius"))

Enter radius1.1

In [5]:
import math
Area = math.pi*(radius)**2
Area

3.8013271108436504

### 5. Write a Python program which accepts the user's first and last name and print them in reverse order with a space between them.

In [6]:
fn = input("Enter first name: ")
ln = input("Enter Last name: ")

Enter first name: Sumeet
Enter Last name: Sonkusare

In [37]:
reverse = fn+" "+ln
reverse

'Sumeet Sonkusare'

In [39]:
reverse[::-1].title()

'Erasuknos Teemus'

In [33]:
reverse_name_in_tuple = (ln[::-1]," ",fn[::-1])
reverse_name_in_tuple

('erasuknoS', ' ', 'teemuS')

In [28]:
reverse_in_string = "".join(reverse_name_in_tuple)   #join method

In [30]:
#To make it in proper case
reverse_in_string.title()

'Erasuknos Teemus'

### 6. Write a Python program which accepts a sequence of comma-separated numbers from user and generate a list and a tuple with those numbers.

In [48]:
numbers_in_the_form_of_string = input("enter 4 numbers with comma: ")
numbers_in_the_form_of_string

enter 4 numbers with comma: 3,5,7,23

'3,5,7,23'

In [49]:
numbers_in_list = numbers_in_the_form_of_string.split(",")   #string method to seperate items by delimiter
numbers_in_list

['3', '5', '7', '23']

In [50]:
numbers_in_tuple = tuple(numbers_in_list)
numbers_in_tuple

('3', '5', '7', '23')

### 7. Write a Python program to accept a filename from the user and print the extension of that.

In [51]:
file_name = input("Enter file name")
file_name

Enter file namepractice.py

'practice.py'

In [55]:
file_name.split(".")[1]    #seperate by delimiter (,) and convert the string into list. Later by index selected 1st index.

'py'

### 8. Write a Python program to display the first and last colors from the following list. 
### color_list = ["Red","Green","White" ,"Black"]

In [61]:
color_list = ["Red","Green","White" ,"Black"]
print(color_list[0]," ", color_list[-1])

Red   Black

### 9. Write a Python program to display the examination schedule. (exam_st_date = (11, 12, 2014)).

In [63]:
exam_schedule = "exam is on %i/%i/%i"%(11,12,2014)
exam_schedule

'exam is on 11/12/2014'

### 10. Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn. sample number is 5

In [66]:
for i in range(1,4):
    print(5**i)

5
25
125

In [68]:
#Using List comprehension
samp_num = [5**i for i in range(1,4)]
samp_num

[5, 25, 125]

### 11. Write a Python program to print the calendar of a given month and year. Note : Use 'calendar' module.

In [79]:
import calendar
yy = 2022
mm = 2
print(calendar.month(yy,mm))

   February 2022
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28

### 12. Write a Python program to calculate number of days between two dates.
#### Sample dates : (2014, 7, 2), (2014, 7, 11)
#### Expected output : 9 days

In [85]:
import datetime
d1 = datetime.date(2014,7,2)
d2 = datetime.date(2014,7,11)
delta = d2-d1
delta.days

9

### 13. Write a Python program to get the volume of a sphere with radius 6.

In [87]:
r = 6
s_formula = (4*math.pi*r**3)/3
s_formula

904.7786842338604

### 14. Write a Python program to get the difference between a given number and 17, if the number is greater than 17 return double the absolute difference.

In [93]:
from random import randint

num = [randint(11,20) for i in range(10)]
num

[18, 17, 11, 15, 14, 18, 11, 12, 11, 13]

In [99]:
for i in num:
    if i>17:
        print(i," ----> ", i*2, "Greater than 17")
    else:
        print(i," ----> Not greater than 17")

18  ---->  36 Greater than 17
17  ----> Not greater than 17
11  ----> Not greater than 17
15  ----> Not greater than 17
14  ----> Not greater than 17
18  ---->  36 Greater than 17
11  ----> Not greater than 17
12  ----> Not greater than 17
11  ----> Not greater than 17
13  ----> Not greater than 17

### 15. Write a Python program to calculate the sum of three given numbers, if the values are equal then return three times of their sum.

In [130]:
def sum_of_three(a,b,c):
    if a==b==c:
       return (a+b+c)*3
    else:
       return (a+b+c)

print(sum_of_three(4,6,8))
print(sum_of_three(10,10,10))
print(sum_of_three(4,6,8))

18
90
18

### 16. Write a Python program to get a new string from a given string where "Is" has been added to the front. If the given string already begins with "Is" then return the string unchanged.

In [142]:
add_three_string = [input("Enter three strings: ") for i in range(3)]
add_three_string

Enter three strings: beast
Enter three strings: israel
Enter three strings: islow

['beast', 'israel', 'islow']

In [144]:
for i in range(len(add_three_string)):
    if add_three_string[i][0:2]=="is":
        continue
    else:
        add_three_string[i] = "is" + add_three_string[i]

add_three_string

['isbeast', 'israel', 'islow']

### 17. Write a Python program to get a string which is n (non-negative integer) copies of a given string.

In [147]:
def string_num(s,n):
    return s*n
string_num("boy", 5)

'boyboyboyboyboy'